In [1]:
import pandas as pd
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep = ';')

In [2]:
bookings_head = bookings.head(7)

In [3]:
bookings.rename(str.lower, axis='columns')

,hotel,is canceled,lead time,arrival full date,arrival date year,arrival date month,arrival date week number,arrival date day of month,stays in weekend nights,stays in week nights,...,adults,children,babies,meal,country,reserved room type,assigned room type,customer type,reservation status,reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [4]:
bookings.columns = bookings.columns.str.replace(' ', '_',regex = True)

In [5]:
bookings = bookings.rename(str.lower, axis='columns')

In [6]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [7]:
bookings.query('is_canceled == 0').groupby('country', as_index=False). \
                agg({'is_canceled':'value_counts'}). \
                sort_values('is_canceled', ascending = False)

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069
..      ...          ...
138     SMR            1
101     MLI            1
136     SLE            1
94      MAC            1
122     PLW            1

[165 rows x 2 columns]

In [8]:
bookings.groupby('hotel', as_index = False). \
                agg({'stays_total_nights':'mean'}).round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [9]:
bookings[['reserved_room_type', 'assigned_room_type']]

       reserved_room_type assigned_room_type
0                       C                  C
1                       C                  C
2                       A                  C
3                       A                  A
4                       A                  A
...                   ...                ...
119385                  A                  A
119386                  E                  E
119387                  D                  D
119388                  A                  A
119389                  A                  A

[119390 rows x 2 columns]

In [10]:
bookings.query('reserved_room_type != assigned_room_type').shape

(14917, 21)

In [11]:
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [12]:
bookings.query("is_canceled == 1 & hotel == 'City Hotel'").groupby('arrival_date_year').arrival_date_month. \
                agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [13]:
bookings[['children', 'babies', 'adults']].mean()

children    0.103890
babies      0.007949
adults      1.856403
dtype: float64

In [14]:
kids_count = bookings['babies'] + bookings['children']
bookings['total_kids'] = kids_count

In [15]:
bookings.groupby('hotel', as_index = False).total_kids.agg(pd.Series.mean).round(2)

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

In [16]:
bookings['has_kids'] = bookings.total_kids != 0

In [17]:
df = bookings[['has_kids', 'is_canceled']].value_counts()

In [18]:
df

has_kids  is_canceled
False     0              69093
          1              40961
True      0               6073
          1               3263
dtype: int64

In [19]:
bookings.has_kids.value_counts()

False    110054
True       9336
Name: has_kids, dtype: int64